/* default  */
:root {
  --login: #2e80ec;
  --google: #afafaf;
  --facebook: #86c5e9;
  --naver: #57d261;
  --kakao: #f4d575;
  --gray: #6f6f6f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  outline: none;
  color: var(--gray);
}
ul,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
  color: #000;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
body {
  font-family: "Noto Sans KR", sans-serif;
}

/* start */
#login {
  border: 0.5px solid var(--gray);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  min-height: 50vh;
  margin: 100px auto;
}

/* header */

#login header {
  max-width: 100%;
  height: 50px;
  border-bottom: 0.5px solid var(--gray);
  position: relative;
}

#login header h1 {
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
  line-height: 50px;
}
#login header .exitBtn {
  position: absolute;
  right: 20px;
  height: 18px;
  top: 50%;
  transform: translate(0, -50%);
}

/* main */

main {
  padding: 20px;
}
.formBox {
  display: flex;
  flex-direction: column;
}

.formBox h2 {
  text-align: left;
  font-size: 1.125rem;
  font-weight: normal;
  margin: 0 0 20px;
}

.formBox form .login_btn {
  background-color: var(--login);
  padding: 15px 0;
  color: white;
  font-size: 1.25rem;
  border-radius: 5px;
  line-height: 1;
  width: 100%;
}
.formBox form .checkBox {
  max-width: 130px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  color: var(--gray);
  font-size: 0.85rem;
}
.formBox form .checkBox input {
  display: none;
}
.formBox form .checkBox input[type="checkbox"]:checked + .checkIcon {
  background-image: url(./img/icon_check.png);
}
.formBox form .checkBox input[type="checkbox"]:checked + .checkIcon + p {
  color: #2e80ec;
}
.formBox form .checkBox .checkIcon {
  width: 22px;
  height: 22px;
  margin-right: 5px;
  background: url(./img/icon_check_empty.png) no-repeat center;
  cursor: pointer;
}
.formBox form .checkBox p {
  cursor: pointer;
  line-height: 1;
}

.signUp {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 15px;
}
.signUp a {
  color: var(--gray);
}
.signUp .stick {
  width: 1.25px;
  height: 12px;
  text-align: center;
  background-color: var(--gray);
  margin: 0 10px;
}

.contour {
  display: flex;
  align-items: center;
  color: var(--gray);
  padding-bottom: 8px;
}

.contour .line_txt {
  padding: 0 1rem;
  font-size: 14px;
}
.contour .line {
  flex: 1;
  height: 0.5px;
  background-color: var(--gray);
}

.address_link {
  max-width: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.address_link li {
  align-items: center;
  margin-bottom: 8px;
  position: relative;
  width: 100%;
  padding: 13px 0;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid;
  color: #000;
  font-size: 15px;
}
.address_link li:last-child {
  margin-bottom: 0;
}
.address_link a:last-child {
  margin-bottom: 0;
}

.address_link a img {
  position: absolute;
  left: 3%;
  top: 50%;
  transform: translate(0, -50%);
}
.address_link .google_link {
  border-color: var(--google);
}
.address_link .facebook_link {
  border-color: var(--facebook);
}
.address_link .naver_link {
  border-color: var(--naver);
}
.address_link .kakao_link {
  border-color: var(--kakao);
}
